@font-face {
  font-family: "Mondwest";
  src: url("./assets/fonts/PPMondwest-Regular.otf") format("opentype");
}

@font-face {
  font-family: "Aston Script";
  src: url("./assets/fonts/Aston-Script.ttf") format("truetype");
}

:root {
  --background-color: #fdfaf3;
  --text-color: #000;
  --button-text-color: #fdfaf3;
  --primary-color: #df569f;
  --secondary-color: #d9d9d9;

  --heading-font: "Mondwest", sans-serif;
  --secondary-font: "Aston Script", sans-serif;
}

body {
  background-color: var(--background-color);
  color: var(--primary-color);
}

#page-title {
  font-family: var(--heading-font);
  font-size: 50px;
  line-height: 1.2;
  color: var(--text-color);
  text-align: center;
}

h2 {
  font-family: var(--heading-font);
  font-size: 30px;
  line-height: 1.2;
  color: var(--text-color);
}

p {
  color: var(--text-color);
}

.featured-project-video {
  width: auto;
  height: 60%;
  object-fit: cover;
  display: flex;
  justify-self: center;
  align-self: center;
}

.featured-project-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 3rem;
}

.project-info {
  width: 80%;
  height: 100%;
  display: flex;
  flex-direction: row;
  gap: 4rem;
}

.title-link {
  flex: 1;
}

.description-text {
  flex: 1;
}

a {
  text-decoration: none;
  color: var(--text-color);
  background-color: var(--primary-color);
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
}

a:hover {
  background-color: var(--background-color);
  color: var(--primary-color);
  border: 2px solid var(--primary-color);
}

.all-projects-gallery {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  margin: 5rem;
}

.projects-first-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.projects-second-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.project-card {
  width: 150px;
  height: 250px;
  background-color: var(--secondary-color);
  border-radius: 0.5rem;
}
